src/server/EMUServer/echoclient.html
src/server/EMUServer/EMUServer.pro.user.1a6f05d
android-libapp_gui.so-deployment-settings.json
build/lib_mupdf/android/release/ -llib_mupdf/Makefile
build/lib_mupdf/android/release/ -llib_mupdf/mupdf-link.obj
build/lib_mupdf/android/release/ -llib_mupdf/mupdf-textbox.obj
moc_pdfrenderer.cpp
build/lib_mupdf/android/release/ -llib_mupdf/mupdf-document.obj
build/lib_mupdf/android/release/ -llib_mupdf/mupdf-page.obj
build/lib_mupdf/android/release/ -llib_mupdf/mupdf-outline.obj
qrc_qml.cpp
src/server/EMUServer/EMUServer.pro.user
*.user
qrc_qml.cpp
doc/latex/**/*.aux
doc/latex/**/*.out
doc/latex/documentation.synctex.gz
doc/latex/**/*.blg
doc/latex/**/*.lof
doc/latex/**/*.log
doc/latex/**/*.toc
/build/gui_build