[submodule "thirdparty/mupdf-qt"]
	path = thirdparty/mupdf-qt
	url = https://github.com/timheb/mupdf-qt.git
[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = https://github.com/Itseez/opencv
[submodule "thirdparty/opencv_contrib"]
	path = thirdparty/opencv_contrib
	url = https://github.com/Itseez/opencv_contrib
